/*Universal themes*/

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*Header*/

header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0;
  align-items: center;
}

header nav {
  padding-right: 40px;
  }

a {
  color: seashell;
  text-decoration: underline;
  }

nav span {
    display: inline-block;
    padding: 15px;
  }

.logo {
  height: 50px;
  padding-left: 10px;
}

.banner {
  display: flex;
  flex-grow: 1;
}

/*Top section*/

.content {
  justify-content: center;

}

#mission {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 69px auto 0 auto;
}

.top .text {
  margin: auto 0 auto 0;
  background-color: black;
  width: 100%;
}

.top .text h4,
.top .text h2 {
  padding: 10px;
  margin: 0;
}
